*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif, Helvetica;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

.layout {
  display: grid;
  grid-template-rows: [navbar-s] 56px [navbar-e image-s] 400px [image-e];
  grid-template-columns: [s] 1fr [e]; }
  .layout__navbar {
    grid-row: navbar-s/navbar-e;
    grid-column: s/e; }
  .layout__image-container {
    grid-row: image-s/image-e;
    grid-column: s/e; }

.navbar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: [actions-s] 300px [actions-e] 1fr [logo-s] 50px [logo-e search-s] 100px [search-e profile-s] 50px [profile-e tweet-s] 100px [tweet-e]; }
  .navbar__actions {
    grid-column: actions-s/actions-e; }
  .navbar__logo {
    grid-column: logo-s/logo-e; }
  .navbar__search {
    grid-column: search-s/search-e; }
  .navbar__profile {
    grid-column: profile-s/profile-e; }
  .navbar__tweet {
    grid-column: tweet-s/tweet-e; }

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover; }
