*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Open Sans', sans-serif, Helvetica;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: #10171E; }

.layout {
  display: grid;
  grid-template-rows: [navbar-s] 56px [navbar-e image-s] 400px [image-e];
  grid-template-columns: [s] 1fr [e]; }
  .layout__navbar {
    grid-row: navbar-s/navbar-e;
    grid-column: s/e; }
  .layout__image-container {
    grid-row: image-s/image-e;
    grid-column: s/e; }

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover; }

.navbar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: [actions-s] 1fr [actions-e] 300px [logo-s] 50px [logo-e] 150px [search-s] 1fr [search-e profile-s] 50px [profile-e tweet-s] 100px [tweet-e];
  justify-items: center;
  align-items: center; }
  .navbar__actions {
    grid-column: actions-s/actions-e; }
  .navbar__logo {
    grid-column: logo-s/logo-e;
    font-size: 20px; }
  .navbar__search {
    justify-self: end;
    grid-column: search-s/search-e; }
  .navbar__profile {
    grid-column: profile-s/profile-e;
    border-radius: 16px;
    object-fit: cover;
    height: 32px;
    widows: 32px; }
  .navbar__tweet {
    grid-column: tweet-s/tweet-e;
    font-weight: bold;
    background: #1C88CC;
    border: none;
    height: 32px;
    width: 74px;
    border-radius: 100px;
    padding: 5px 16px;
    padding-bottom: 6px;
    border: 1px solid transparent;
    box-sizing: border-box;
    font-size: 14px; }

.navbar {
  background: #1c2938;
  color: #96afb5; }
  .navbar__logo {
    color: #1DA1F2; }
  .navbar__tweet {
    background: #1DA1F2;
    color: white; }

.actions {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  width: 400px; }
  .actions .action {
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto; }
    .actions .action__icon {
      margin: 0px 10px; }

.search {
  margin-right: 30px;
  display: grid; }
  .search input,
  .search i {
    grid-row: 1/-1;
    grid-column: 1/-1; }
  .search input {
    height: 30px;
    box-sizing: border-box;
    border-radius: 15px;
    background: #1a232F;
    border: #38444d;
    color: white;
    padding: 8px 32px 8px 12px; }
    .search input::placeholder {
      color: #96afb5; }
  .search i {
    padding-top: 4px;
    padding-right: 8px;
    line-height: 1.3;
    justify-self: end;
    padding-right: 10px; }
