*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif, Helvetica;
  font-weight: normal;
  // font-size: 40px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

.layout {
  display: grid;
  grid-template-rows: [navbar-s] 56px [navbar-e image-s] 400px [image-e];
  grid-template-columns: [s] 1fr [e];
  &__navbar {
    grid-row: navbar-s/navbar-e;
    grid-column: s/e;
  }
  &__image-container {
    grid-row: image-s/image-e;
    grid-column: s/e;
  }
}

.navbar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: [actions-s] 1fr [actions-e logo-s] 50px [logo-e search-s] 100px [search-e profile-s] 50px [profile-e tweet-s] 100px [tweet-e];

  &__actions {

  }
  &__logo {

  }
  &__search {

  }
  &__profile {

  }
  &__tweet {

  }

}

.image-container {
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
