@import "variables";
@import "base";
@import "layout";
@import "navbar";

.actions {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    width: 400px;
    .action {
        margin: 0px 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: auto;

        &__icon {
            margin: 0px 10px;
        }
    }
}

.search {
    margin-right: 30px;
    display: grid;
    input,
    i {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }
    input {
        padding: 4px;
        height: 30px;
        box-sizing: border-box;
        border-radius: 15px;
    }
    i {
        padding: 4px;
        padding-right: 6px;
        line-height: 1.3;
        justify-self: end;
    }
}